In [1]:
import os
import awswrangler as wr

In [ ]:
PROJECT_PREFIX_UNDERSCORE = os.getenv("PROJECT_PREFIX_UNDERSCORE")
DATA_LAKE_BUCKET = os.getenv("DATA_LAKE_BUCKET")
DATABASE = f"{PROJECT_PREFIX_UNDERSCORE}_iceberg_test_db"
TABLE = "sample_orders"
S3_OUTPUT = os.getenv("ATHENA_OUTPUT_LOCATION")
    
TRANSFORM_DB = f"{PROJECT_PREFIX_UNDERSCORE}_transform_db"

In [5]:
query = f"""
select * from {DATABASE}.{TABLE} limit 10
"""

df = wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT)

In [4]:
df.head()

   order_id product    price
0         4     ETH   3100.5
1         4     ETH   3100.5
2         3     BTC  62500.1
3         3     BTC  62500.1

In [ ]:
query = f"""
select * from {TRANSFORM_DB}.klines order by group_id desc limit 20
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol
0,1954847,2025-10-01 23:45:00,1759362304076540,0.8477,0.8512,0.8470,0.8508,3678981.8,1759363199488347,2025-10-01,ADAUSDT
1,1954846,2025-10-01 23:30:00,1759361400414596,0.8475,0.8487,0.8469,0.8477,562945.1,1759362299308430,2025-10-01,ADAUSDT
2,1954845,2025-10-01 23:15:00,1759360504599549,0.8460,0.8479,0.8460,0.8474,1472575.3,1759361398886417,2025-10-01,ADAUSDT
3,1954844,2025-10-01 23:00:00,1759359600219460,0.8448,0.8463,0.8437,0.8459,662040.6,1759360499167147,2025-10-01,ADAUSDT
4,1954843,2025-10-01 22:45:00,1759358700946927,0.8428,0.8453,0.8428,0.8449,960189.6,1759359599359128,2025-10-01,ADAUSDT
5,1954842,2025-10-01 22:30:00,1759357803503930,0.8427,0.8428,0.8408,0.8428,656817.5,1759358692762860,2025-10-01,ADAUSDT
6,1954841,2025-10-01 22:15:00,1759356905083487,0.8429,0.8433,0.8414,0.8426,322938.1,1759357799079586,2025-10-01,ADAUSDT
7,1954840,2025-10-01 22:00:00,1759356000158731,0.8408,0.8450,0.8408,0.8429,973057.7,1759356898145912,2025-10-01,ADAUSDT
8,1954839,2025-10-01 21:45:00,1759355101522887,0.8399,0.8415,0.8393,0.8408,481021.4,1759355990692303,2025-10-01,ADAUSDT
9,1954838,2025-10-01 21:30:00,1759354210782471,0.8408,0.8408,0.8386,0.8399,559982.2,1759355095183774,2025-10-01,ADAUSDT
10,1954837,2025-10-01 21:15:00,1759353300037025,0.8426,0.8434,0.8396,0.8409,740088.2,1759354198753601,2025-10-01,ADAUSDT
11,1954836,2025-10-01 21:00:00,1759352402694675,0.8435,0.8446,0.8423,0.8425,951687.8,1759353294787693,2025-10-01,ADAUSDT
12,1954835,2025-10-01 20:45:00,1759351500172590,0.8434,0.8441,0.8428,0.8435,315165.0,1759352396659579,2025-10-01,ADAUSDT
13,1954834,2025-10-01 20:30:00,1759350603221650,0.8429,0.8438,0.8420,0.8434,575818.2,1759351492827413,2025-10-01,ADAUSDT
14,1954833,2025-10-01 20:15:00,1759349700067410,0.8436,0.8454,0.8420,0.8430,1328529.3,1759350595631066,2025-10-01,ADAUSDT
15,1954832,2025-10-01 20:00:00,1759348801408751,0.8455,0.8464,0.8429,0.8435,1438309.1,1759349699709621,2025-10-01,ADAUSDT
16,1954831,2025-10-01 19:45:00,1759347900026507,0.8455,0.8479,0.8454,0.8454,1124065.3,1759348798038383,2025-10-01,ADAUSDT
17,1954830,2025-10-01 19:30:00,1759347000165563,0.8473,0.8475,0.8451,0.8455,1064807.4,1759347899605324,2025-10-01,ADAUSDT
18,1954829,2025-10-01 19:15:00,1759346101445318,0.8456,0.8475,0.8452,0.8474,1434898.8,1759346995588649,2025-10-01,ADAUSDT
19,1954828,2025-10-01 19:00:00,1759345201246339,0.8430,0.8458,0.8418,0.8457,1066087.8,1759346098430013,2025-10-01,ADAUSDT

In [12]:
query = f"""
select agg_trade_id, price, quantity, ingest_date, timestamp_date, timestamp_second, group_date, transform_date, landing_date, symbol from {TRANSTORM_DB}.aggtrades order by agg_trade_id limit 20
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,agg_trade_id,price,quantity,ingest_date,timestamp_date,timestamp_second,group_date,transform_date,landing_date,symbol
0,411114767,0.7918,111.5,2025-12-05,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
1,411114768,0.7918,252.5,2025-12-05,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
2,411114769,0.7918,240.6,2025-12-05,2025-09-27 00:00:02,1758931202,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
3,411114770,0.7917,43.1,2025-12-05,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
4,411114771,0.7917,22.6,2025-12-05,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
5,411114772,0.7917,669.9,2025-12-05,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
6,411114773,0.7916,81.2,2025-12-05,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
7,411114774,0.7917,70.1,2025-12-05,2025-09-27 00:00:09,1758931209,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
8,411114775,0.7917,624.0,2025-12-05,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
9,411114776,0.7917,31.6,2025-12-05,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
10,411114777,0.7916,82.6,2025-12-05,2025-09-27 00:00:14,1758931214,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
11,411114778,0.7916,499.5,2025-12-05,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
12,411114779,0.7916,50.0,2025-12-05,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
13,411114780,0.7916,4421.4,2025-12-05,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
14,411114781,0.7916,8.8,2025-12-05,2025-09-27 00:00:17,1758931217,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
15,411114782,0.7916,182.7,2025-12-05,2025-09-27 00:00:18,1758931218,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
16,411114783,0.7916,6.9,2025-12-05,2025-09-27 00:00:19,1758931219,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
17,411114784,0.7916,7.1,2025-12-05,2025-09-27 00:00:24,1758931224,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
18,411114785,0.7915,47.9,2025-12-05,2025-09-27 00:00:27,1758931227,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
19,411114786,0.7916,31.0,2025-12-05,2025-09-27 00:00:29,1758931229,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT

In [ ]:
query = f"""
select * from {TRANSFORM_DB}.pattern_two where pattern is not null order by group_id desc limit 20
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol,ema7,ema20,trend,pattern
0,1954795,2025-10-01 10:45:00,1759315500163669,0.8330,0.8342,0.8307,0.8310,1580282.5,1759316398006791,2025-10-01,ADAUSDT,0.8303,0.8215,uptrend,bearish engulfing
1,1954774,2025-10-01 05:30:00,1759296600897764,0.8030,0.8056,0.8020,0.8050,579961.7,1759297490750078,2025-10-01,ADAUSDT,0.8034,0.8037,downtrend,bullish engulfing
2,1954768,2025-10-01 04:00:00,1759291201718382,0.7980,0.8038,0.7971,0.8016,1571982.1,1759292099592657,2025-10-01,ADAUSDT,0.8022,0.8039,downtrend,bullish engulfing
3,1954728,2025-09-30 18:00:00,1759255201144749,0.7840,0.7872,0.7819,0.7867,988553.9,1759256099408601,2025-09-30,ADAUSDT,0.7851,0.7859,downtrend,bullish engulfing
4,1954715,2025-09-30 14:45:00,1759243502102905,0.7876,0.7920,0.7870,0.7915,677412.3,1759244399766149,2025-09-30,ADAUSDT,0.7901,0.7906,downtrend,bullish engulfing
5,1954669,2025-09-30 03:15:00,1759202100251949,0.7982,0.8012,0.7978,0.7995,320554.3,1759202994139623,2025-09-30,ADAUSDT,0.8000,0.8022,downtrend,bullish engulfing
6,1954652,2025-09-29 23:00:00,1759186800092821,0.8086,0.8099,0.8066,0.8071,666354.7,1759187699707082,2025-09-29,ADAUSDT,0.8089,0.8075,uptrend,bearish engulfing
7,1954582,2025-09-29 05:30:00,1759123800004911,0.7973,0.7982,0.7967,0.7981,341883.7,1759124699055451,2025-09-29,ADAUSDT,0.7996,0.8009,downtrend,bullish engulfing
8,1954564,2025-09-29 01:00:00,1759107601481014,0.8052,0.8057,0.8034,0.8044,1121450.8,1759108499660763,2025-09-29,ADAUSDT,0.8055,0.8022,uptrend,bearish engulfing
9,1954530,2025-09-28 16:30:00,1759077000870532,0.7876,0.7880,0.7838,0.7857,423035.5,1759077890920769,2025-09-28,ADAUSDT,0.7833,0.7781,uptrend,bearish engulfing
10,1954493,2025-09-28 07:15:00,1759043701149668,0.7712,0.7737,0.7711,0.7730,509464.1,1759044593275198,2025-09-28,ADAUSDT,0.7725,0.7739,downtrend,bullish engulfing
11,1954445,2025-09-27 19:15:00,1759000502967967,0.7803,0.7823,0.7800,0.7821,95233.0,1759001384883232,2025-09-27,ADAUSDT,0.7808,0.7817,downtrend,bullish engulfing
12,1954413,2025-09-27 11:15:00,1758971700405060,0.7837,0.7853,0.7837,0.7850,121594.4,1758972591323187,2025-09-27,ADAUSDT,0.7835,0.7840,downtrend,bullish engulfing