In [1]:
print("Hello, World!")

Hello, World!

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

In [3]:
# Create Spark session (local mode)
spark = SparkSession.builder \
    .appName("LocalSparkTest") \
    .master("local[*]") \
    .config("spark.ui.showConsoleProgress", "true") \
    .getOrCreate()

print(f"✅ Spark version: {spark.version}")

25/11/03 11:49:29 WARN Utils: Your hostname, Nguyens-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.24 instead (on interface en0)
25/11/03 11:49:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/03 11:49:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

✅ Spark version: 3.5.4

In [4]:
# Create a simple DataFrame
data = [
    ("Alice", 34, "NY"),
    ("Bob", 45, "CA"),
    ("Charlie", 29, "NY"),
    ("Diana", 40, "TX")
]
columns = ["name", "age", "state"]

In [5]:
df = spark.createDataFrame(data, columns)

In [6]:
# Basic operations
print("=== Original Data ===")
df.show()

=== Original Data ===

+-------+---+-----+
|   name|age|state|
+-------+---+-----+
|  Alice| 34|   NY|
|    Bob| 45|   CA|
|Charlie| 29|   NY|
|  Diana| 40|   TX|
+-------+---+-----+

In [7]:
# Filter and aggregation
df_filtered = df.filter(col("age") > 30)
print("=== Filtered (age > 30) ===")
df_filtered.show()

=== Filtered (age > 30) ===
+-----+---+-----+
| name|age|state|
+-----+---+-----+
|Alice| 34|   NY|
|  Bob| 45|   CA|
|Diana| 40|   TX|
+-----+---+-----+

In [8]:
df_grouped = df.groupBy("state").agg(avg("age").alias("avg_age"))
print("=== Average age by state ===")
df_grouped.show()

=== Average age by state ===
+-----+-------+
|state|avg_age|
+-----+-------+
|   NY|   31.5|
|   CA|   45.0|
|   TX|   40.0|
+-----+-------+

In [9]:
# Stop session
spark.stop()