In [1]:
import os
import awswrangler as wr
import pandas as pd

In [5]:
PROJECT_PREFIX = os.getenv("PROJECT_PREFIX")
PROJECT_PREFIX_UNDERSCORE = os.getenv("PROJECT_PREFIX_UNDERSCORE")
DATA_LAKE_BUCKET = os.getenv("DATA_LAKE_BUCKET")
DATABASE = f"{PROJECT_PREFIX_UNDERSCORE}_iceberg_test_db"
TABLE = "sample_orders"
S3_OUTPUT = os.getenv("ATHENA_OUTPUT_LOCATION")

In [6]:
query = f"""
select * from {DATABASE}.{TABLE} limit 10
"""

df = wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT)

In [7]:
df.head()

   order_id product    price
0         4     ETH   3100.5
1         3     BTC  62500.1