In [1]:
import os
import awswrangler as wr

In [ ]:

DATA_LAKE_BUCKET = os.getenv("TFOUT_DATA_LAKE_BUCKET")
TRANSFORM_DB = os.getenv("TFOUT_TRANSFORM_DB", "")
S3_OUTPUT = os.getenv("TFOUT_ATHENA_OUTPUT_LOCATION")

In [4]:
query = f"""
select * from {TRANSFORM_DB}.klines order by group_id desc limit 20
"""

wr.athena.read_sql_query(query, database=TRANSFORM_DB, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol
0,1954463,2025-09-27 23:45:00,1759016701408514,0.7814,0.7825,0.7807,0.7809,132144.3,1759017599501352,2025-09-27,ADAUSDT
1,1954462,2025-09-27 23:30:00,1759015804476897,0.7814,0.7821,0.7806,0.7814,188230.3,1759016697090778,2025-09-27,ADAUSDT
2,1954461,2025-09-27 23:15:00,1759014900390169,0.7834,0.7839,0.7811,0.7815,260574.1,1759015796003399,2025-09-27,ADAUSDT
3,1954460,2025-09-27 23:00:00,1759014000309633,0.7845,0.7861,0.7824,0.7835,670020.3,1759014892851226,2025-09-27,ADAUSDT
4,1954459,2025-09-27 22:45:00,1759013103638659,0.7857,0.7859,0.7836,0.7846,141243.2,1759013997087264,2025-09-27,ADAUSDT
5,1954458,2025-09-27 22:30:00,1759012200438514,0.7880,0.7881,0.7854,0.7858,531619.1,1759013098293531,2025-09-27,ADAUSDT
6,1954457,2025-09-27 22:15:00,1759011300167012,0.7851,0.7884,0.7850,0.7880,791855.3,1759012196673145,2025-09-27,ADAUSDT
7,1954456,2025-09-27 22:00:00,1759010400565873,0.7834,0.7852,0.7831,0.7850,320956.8,1759011291817986,2025-09-27,ADAUSDT
8,1954455,2025-09-27 21:45:00,1759009500752736,0.7823,0.7840,0.7823,0.7834,216804.3,1759010399481723,2025-09-27,ADAUSDT
9,1954454,2025-09-27 21:30:00,1759008605471023,0.7810,0.7828,0.7807,0.7824,475690.4,1759009493565669,2025-09-27,ADAUSDT
10,1954453,2025-09-27 21:15:00,1759007700716280,0.7803,0.7810,0.7802,0.7810,97851.8,1759008580104080,2025-09-27,ADAUSDT
11,1954452,2025-09-27 21:00:00,1759006801808356,0.7797,0.7807,0.7789,0.7804,225027.5,1759007691984272,2025-09-27,ADAUSDT
12,1954451,2025-09-27 20:45:00,1759005916255275,0.7801,0.7801,0.7786,0.7797,453120.6,1759006795868207,2025-09-27,ADAUSDT
13,1954450,2025-09-27 20:30:00,1759005004490960,0.7798,0.7811,0.7793,0.7801,389823.6,1759005898273412,2025-09-27,ADAUSDT
14,1954449,2025-09-27 20:15:00,1759004120713465,0.7813,0.7813,0.7793,0.7798,846957.4,1759004990154093,2025-09-27,ADAUSDT
15,1954448,2025-09-27 20:00:00,1759003201313659,0.7815,0.7823,0.7811,0.7813,79122.1,1759004086017485,2025-09-27,ADAUSDT
16,1954447,2025-09-27 19:45:00,1759002305715982,0.7805,0.7819,0.7802,0.7815,79349.6,1759003194899086,2025-09-27,ADAUSDT
17,1954446,2025-09-27 19:30:00,1759001401811617,0.7822,0.7823,0.7802,0.7805,245898.9,1759002297045142,2025-09-27,ADAUSDT
18,1954445,2025-09-27 19:15:00,1759000502967967,0.7803,0.7823,0.7800,0.7821,95233.0,1759001384883232,2025-09-27,ADAUSDT
19,1954444,2025-09-27 19:00:00,1758999617215270,0.7806,0.7812,0.7801,0.7804,106570.2,1759000498864377,2025-09-27,ADAUSDT

In [5]:
query = f"""
select agg_trade_id, price, quantity, ingest_date, timestamp_date, timestamp_second, group_date, transform_date, landing_date, symbol from {TRANSFORM_DB}.aggtrades order by agg_trade_id limit 20
"""

wr.athena.read_sql_query(query, database=TRANSFORM_DB, s3_output=S3_OUTPUT).head(20)

,agg_trade_id,price,quantity,ingest_date,timestamp_date,timestamp_second,group_date,transform_date,landing_date,symbol
0,411114767,0.7918,111.5,2025-12-28,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
1,411114768,0.7918,252.5,2025-12-28,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
2,411114769,0.7918,240.6,2025-12-28,2025-09-27 00:00:02,1758931202,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
3,411114770,0.7917,43.1,2025-12-28,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
4,411114771,0.7917,22.6,2025-12-28,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
5,411114772,0.7917,669.9,2025-12-28,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
6,411114773,0.7916,81.2,2025-12-28,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
7,411114774,0.7917,70.1,2025-12-28,2025-09-27 00:00:09,1758931209,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
8,411114775,0.7917,624.0,2025-12-28,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
9,411114776,0.7917,31.6,2025-12-28,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
10,411114777,0.7916,82.6,2025-12-28,2025-09-27 00:00:14,1758931214,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
11,411114778,0.7916,499.5,2025-12-28,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
12,411114779,0.7916,50.0,2025-12-28,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
13,411114780,0.7916,4421.4,2025-12-28,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
14,411114781,0.7916,8.8,2025-12-28,2025-09-27 00:00:17,1758931217,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
15,411114782,0.7916,182.7,2025-12-28,2025-09-27 00:00:18,1758931218,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
16,411114783,0.7916,6.9,2025-12-28,2025-09-27 00:00:19,1758931219,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
17,411114784,0.7916,7.1,2025-12-28,2025-09-27 00:00:24,1758931224,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
18,411114785,0.7915,47.9,2025-12-28,2025-09-27 00:00:27,1758931227,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT
19,411114786,0.7916,31.0,2025-12-28,2025-09-27 00:00:29,1758931229,2025-09-27 00:00:00,2025-12-28,2025-09-27,ADAUSDT

In [6]:
query = f"""
select * from {TRANSFORM_DB}.pattern_two where pattern is not null order by group_id desc limit 20
"""

wr.athena.read_sql_query(query, database=TRANSFORM_DB, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol,ema7,ema20,trend,pattern
0,1954445,2025-09-27 19:15:00,1759000502967967,0.7803,0.7823,0.7800,0.7821,95233.0,1759001384883232,2025-09-27,ADAUSDT,0.7808,0.7817,downtrend,bullish engulfing
1,1954413,2025-09-27 11:15:00,1758971700405060,0.7837,0.7853,0.7837,0.7850,121594.4,1758972591323187,2025-09-27,ADAUSDT,0.7835,0.7840,downtrend,bullish engulfing