In [1]:
import os
import awswrangler as wr

In [7]:
PROJECT_PREFIX_UNDERSCORE = os.getenv("PROJECT_PREFIX_UNDERSCORE")
DATA_LAKE_BUCKET = os.getenv("DATA_LAKE_BUCKET")
DATABASE = f"{PROJECT_PREFIX_UNDERSCORE}_iceberg_test_db"
TABLE = "sample_orders"
S3_OUTPUT = os.getenv("ATHENA_OUTPUT_LOCATION")

SERVING_DB = f"{PROJECT_PREFIX_UNDERSCORE}_serving_db"
TRANSTORM_DB = f"{PROJECT_PREFIX_UNDERSCORE}_transform_db"

In [5]:
query = f"""
select * from {DATABASE}.{TABLE} limit 10
"""

df = wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT)

In [4]:
df.head()

   order_id product    price
0         4     ETH   3100.5
1         4     ETH   3100.5
2         3     BTC  62500.1
3         3     BTC  62500.1

In [11]:
query = f"""
select * from {SERVING_DB}.klines order by group_id desc limit 20
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol
0,1954655,2025-09-29 23:45:00,1759189501417769,0.8070,0.8077,0.8055,0.8061,1086504.7,1759190393210165,2025-09-29,ADAUSDT
1,1954654,2025-09-29 23:30:00,1759188600643941,0.8070,0.8079,0.8066,0.8070,319521.7,1759189491390635,2025-09-29,ADAUSDT
2,1954653,2025-09-29 23:15:00,1759187700544914,0.8072,0.8085,0.8066,0.8070,316426.1,1759188591795351,2025-09-29,ADAUSDT
3,1954652,2025-09-29 23:00:00,1759186800092821,0.8086,0.8099,0.8066,0.8071,666354.7,1759187699707082,2025-09-29,ADAUSDT
4,1954651,2025-09-29 22:45:00,1759185902572609,0.8077,0.8102,0.8074,0.8085,469184.1,1759186799826035,2025-09-29,ADAUSDT
5,1954650,2025-09-29 22:30:00,1759185003425140,0.8095,0.8102,0.8069,0.8078,895010.3,1759185899796745,2025-09-29,ADAUSDT
6,1954649,2025-09-29 22:15:00,1759184105729878,0.8097,0.8108,0.8089,0.8094,728967.9,1759184999105890,2025-09-29,ADAUSDT
7,1954648,2025-09-29 22:00:00,1759183201465149,0.8112,0.8119,0.8086,0.8097,802565.7,1759184097242043,2025-09-29,ADAUSDT
8,1954647,2025-09-29 21:45:00,1759182301933712,0.8134,0.8145,0.8085,0.8111,3018331.1,1759183197091079,2025-09-29,ADAUSDT
9,1954646,2025-09-29 21:30:00,1759181402672223,0.8139,0.8141,0.8121,0.8133,298560.7,1759182290105414,2025-09-29,ADAUSDT
10,1954645,2025-09-29 21:15:00,1759180500508582,0.8123,0.8148,0.8118,0.8139,537306.8,1759181396604889,2025-09-29,ADAUSDT
11,1954644,2025-09-29 21:00:00,1759179600233209,0.8135,0.8147,0.8114,0.8122,625707.5,1759180499009104,2025-09-29,ADAUSDT
12,1954643,2025-09-29 20:45:00,1759178700455054,0.8126,0.8137,0.8117,0.8135,1286542.3,1759179589256873,2025-09-29,ADAUSDT
13,1954642,2025-09-29 20:30:00,1759177801765806,0.8081,0.8127,0.8068,0.8125,1301133.1,1759178697608536,2025-09-29,ADAUSDT
14,1954641,2025-09-29 20:15:00,1759176901708624,0.8079,0.8093,0.8062,0.8081,1058043.7,1759177798052367,2025-09-29,ADAUSDT
15,1954640,2025-09-29 20:00:00,1759176000061150,0.8047,0.8080,0.8034,0.8080,610509.6,1759176890227883,2025-09-29,ADAUSDT
16,1954639,2025-09-29 19:45:00,1759175101108416,0.8034,0.8057,0.8023,0.8046,632446.9,1759175999745010,2025-09-29,ADAUSDT
17,1954638,2025-09-29 19:30:00,1759174201590379,0.8013,0.8034,0.7995,0.8033,343455.7,1759175098489289,2025-09-29,ADAUSDT
18,1954637,2025-09-29 19:15:00,1759173300463929,0.8017,0.8020,0.7988,0.8013,374620.7,1759174199046919,2025-09-29,ADAUSDT
19,1954636,2025-09-29 19:00:00,1759172400621553,0.7990,0.8022,0.7982,0.8017,507400.2,1759173298868858,2025-09-29,ADAUSDT

In [12]:
query = f"""
select agg_trade_id, price, quantity, ingest_date, timestamp_date, timestamp_second, group_date, transform_date, landing_date, symbol from {TRANSTORM_DB}.aggtrades order by agg_trade_id limit 20
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,agg_trade_id,price,quantity,ingest_date,timestamp_date,timestamp_second,group_date,transform_date,landing_date,symbol
0,411114767,0.7918,111.5,2025-12-05,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
1,411114768,0.7918,252.5,2025-12-05,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
2,411114769,0.7918,240.6,2025-12-05,2025-09-27 00:00:02,1758931202,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
3,411114770,0.7917,43.1,2025-12-05,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
4,411114771,0.7917,22.6,2025-12-05,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
5,411114772,0.7917,669.9,2025-12-05,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
6,411114773,0.7916,81.2,2025-12-05,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
7,411114774,0.7917,70.1,2025-12-05,2025-09-27 00:00:09,1758931209,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
8,411114775,0.7917,624.0,2025-12-05,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
9,411114776,0.7917,31.6,2025-12-05,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
10,411114777,0.7916,82.6,2025-12-05,2025-09-27 00:00:14,1758931214,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
11,411114778,0.7916,499.5,2025-12-05,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
12,411114779,0.7916,50.0,2025-12-05,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
13,411114780,0.7916,4421.4,2025-12-05,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
14,411114781,0.7916,8.8,2025-12-05,2025-09-27 00:00:17,1758931217,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
15,411114782,0.7916,182.7,2025-12-05,2025-09-27 00:00:18,1758931218,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
16,411114783,0.7916,6.9,2025-12-05,2025-09-27 00:00:19,1758931219,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
17,411114784,0.7916,7.1,2025-12-05,2025-09-27 00:00:24,1758931224,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
18,411114785,0.7915,47.9,2025-12-05,2025-09-27 00:00:27,1758931227,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT
19,411114786,0.7916,31.0,2025-12-05,2025-09-27 00:00:29,1758931229,2025-09-27 00:00:00,2025-12-05,2025-09-27,ADAUSDT

In [13]:
query = f"""
select * from {SERVING_DB}.pattern_two where pattern is not null
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol,ema7,ema20,trend,pattern
0,1954564,2025-09-29 01:00:00,1759107601481014,0.8052,0.8057,0.8034,0.8044,1121450.8,1759108499660763,2025-09-29,ADAUSDT,0.8055,0.8022,uptrend,bearish engulfing
1,1954582,2025-09-29 05:30:00,1759123800004911,0.7973,0.7982,0.7967,0.7981,341883.7,1759124699055451,2025-09-29,ADAUSDT,0.7996,0.8009,downtrend,bullish engulfing
2,1954652,2025-09-29 23:00:00,1759186800092821,0.8086,0.8099,0.8066,0.8071,666354.7,1759187699707082,2025-09-29,ADAUSDT,0.8089,0.8075,uptrend,bearish engulfing
3,1954493,2025-09-28 07:15:00,1759043701149668,0.7712,0.7737,0.7711,0.7730,509464.1,1759044593275198,2025-09-28,ADAUSDT,0.7725,0.7739,downtrend,bullish engulfing
4,1954530,2025-09-28 16:30:00,1759077000870532,0.7876,0.7880,0.7838,0.7857,423035.5,1759077890920769,2025-09-28,ADAUSDT,0.7833,0.7781,uptrend,bearish engulfing
5,1954413,2025-09-27 11:15:00,1758971700405060,0.7837,0.7853,0.7837,0.7850,121594.4,1758972591323187,2025-09-27,ADAUSDT,0.7835,0.7840,downtrend,bullish engulfing
6,1954445,2025-09-27 19:15:00,1759000502967967,0.7803,0.7823,0.7800,0.7821,95233.0,1759001384883232,2025-09-27,ADAUSDT,0.7808,0.7817,downtrend,bullish engulfing