In [1]:
import os
import awswrangler as wr

In [2]:
PROJECT_PREFIX = os.getenv("PROJECT_PREFIX")
PROJECT_PREFIX_UNDERSCORE = os.getenv("PROJECT_PREFIX_UNDERSCORE")
DATA_LAKE_BUCKET = os.getenv("DATA_LAKE_BUCKET")
DATABASE = f"{PROJECT_PREFIX_UNDERSCORE}_iceberg_test_db"
TABLE = "sample_orders"
S3_OUTPUT = os.getenv("ATHENA_OUTPUT_LOCATION")

SERVING_DB = f"{PROJECT_PREFIX_UNDERSCORE}_serving_db"
TRANSTORM_DB = f"{PROJECT_PREFIX_UNDERSCORE}_transform_db"

In [3]:
query = f"""
select * from {DATABASE}.{TABLE} limit 10
"""

df = wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT)

In [4]:
df.head()

   order_id product    price
0         4     ETH   3100.5
1         4     ETH   3100.5
2         3     BTC  62500.1
3         3     BTC  62500.1

In [11]:
query = f"""
select * from {SERVING_DB}.klines order by group_id limit 20
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol
0,1954368,2025-09-27 00:00:00,1758931200686229,0.7918,0.7918,0.7897,0.7901,465779.1,1758932095846561,2025-09-27,ADAUSDT
1,1954369,2025-09-27 00:15:00,1758932100583189,0.7902,0.7924,0.7900,0.7911,163062.6,1758932997788221,2025-09-27,ADAUSDT
2,1954370,2025-09-27 00:30:00,1758933000808905,0.7912,0.7920,0.7905,0.7913,202817.4,1758933895280530,2025-09-27,ADAUSDT
3,1954371,2025-09-27 00:45:00,1758933900464103,0.7913,0.7927,0.7899,0.7923,434212.2,1758934797111165,2025-09-27,ADAUSDT
4,1954372,2025-09-27 01:00:00,1758934803068992,0.7924,0.7927,0.7902,0.7913,555784.6,1758935692008887,2025-09-27,ADAUSDT
5,1954373,2025-09-27 01:15:00,1758935700968789,0.7912,0.7922,0.7882,0.7897,550528.6,1758936598705957,2025-09-27,ADAUSDT
6,1954374,2025-09-27 01:30:00,1758936600409086,0.7898,0.7905,0.7886,0.7899,405461.3,1758937496408758,2025-09-27,ADAUSDT
7,1954375,2025-09-27 01:45:00,1758937508308921,0.7900,0.7907,0.7898,0.7903,127489.5,1758938399129296,2025-09-27,ADAUSDT
8,1954376,2025-09-27 02:00:00,1758938402553238,0.7903,0.7910,0.7890,0.7909,387130.3,1758939294919265,2025-09-27,ADAUSDT
9,1954377,2025-09-27 02:15:00,1758939300355357,0.7909,0.7912,0.7885,0.7896,273607.2,1758940195292187,2025-09-27,ADAUSDT
10,1954378,2025-09-27 02:30:00,1758940200309296,0.7896,0.7912,0.7889,0.7911,179209.4,1758941080407977,2025-09-27,ADAUSDT
11,1954379,2025-09-27 02:45:00,1758941104779273,0.7912,0.7917,0.7892,0.7892,296011.2,1758941987171987,2025-09-27,ADAUSDT
12,1954380,2025-09-27 03:00:00,1758942004432931,0.7893,0.7916,0.7890,0.7903,414739.8,1758942899873022,2025-09-27,ADAUSDT
13,1954381,2025-09-27 03:15:00,1758942900129440,0.7902,0.7936,0.7900,0.7933,380854.9,1758943795149448,2025-09-27,ADAUSDT
14,1954382,2025-09-27 03:30:00,1758943800166342,0.7933,0.7941,0.7928,0.7937,514478.1,1758944697400288,2025-09-27,ADAUSDT
15,1954383,2025-09-27 03:45:00,1758944700708797,0.7936,0.7939,0.7919,0.7923,409480.0,1758945598019653,2025-09-27,ADAUSDT
16,1954384,2025-09-27 04:00:00,1758945602518439,0.7923,0.7930,0.7908,0.7910,404950.0,1758946495095558,2025-09-27,ADAUSDT
17,1954385,2025-09-27 04:15:00,1758946500267678,0.7910,0.7931,0.7909,0.7930,312491.6,1758947379908581,2025-09-27,ADAUSDT
18,1954386,2025-09-27 04:30:00,1758947400608601,0.7930,0.7934,0.7920,0.7921,377653.4,1758948294033041,2025-09-27,ADAUSDT
19,1954387,2025-09-27 04:45:00,1758948324484620,0.7921,0.7921,0.7908,0.7917,448336.2,1758949196581383,2025-09-27,ADAUSDT

In [10]:
query = f"""
select agg_trade_id, price, quantity, ingest_date, timestamp_date, timestamp_second, group_date, transform_date, landing_date, symbol from {TRANSTORM_DB}.aggtrades order by agg_trade_id limit 20
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,agg_trade_id,price,quantity,ingest_date,timestamp_date,timestamp_second,group_date,transform_date,landing_date,symbol
0,411114767,0.7918,111.5,2025-11-21,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
1,411114768,0.7918,252.5,2025-11-21,2025-09-27 00:00:00,1758931200,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
2,411114769,0.7918,240.6,2025-11-21,2025-09-27 00:00:02,1758931202,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
3,411114770,0.7917,43.1,2025-11-21,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
4,411114771,0.7917,22.6,2025-11-21,2025-09-27 00:00:04,1758931204,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
5,411114772,0.7917,669.9,2025-11-21,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
6,411114773,0.7916,81.2,2025-11-21,2025-09-27 00:00:05,1758931205,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
7,411114774,0.7917,70.1,2025-11-21,2025-09-27 00:00:09,1758931209,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
8,411114775,0.7917,624.0,2025-11-21,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
9,411114776,0.7917,31.6,2025-11-21,2025-09-27 00:00:11,1758931211,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
10,411114777,0.7916,82.6,2025-11-21,2025-09-27 00:00:14,1758931214,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
11,411114778,0.7916,499.5,2025-11-21,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
12,411114779,0.7916,50.0,2025-11-21,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
13,411114780,0.7916,4421.4,2025-11-21,2025-09-27 00:00:15,1758931215,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
14,411114781,0.7916,8.8,2025-11-21,2025-09-27 00:00:17,1758931217,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
15,411114782,0.7916,182.7,2025-11-21,2025-09-27 00:00:18,1758931218,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
16,411114783,0.7916,6.9,2025-11-21,2025-09-27 00:00:19,1758931219,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
17,411114784,0.7916,7.1,2025-11-21,2025-09-27 00:00:24,1758931224,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
18,411114785,0.7915,47.9,2025-11-21,2025-09-27 00:00:27,1758931227,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT
19,411114786,0.7916,31.0,2025-11-21,2025-09-27 00:00:29,1758931229,2025-09-27 00:00:00,2025-11-21,2025-09-27,ADAUSDT

In [3]:
query = f"""
select * from {SERVING_DB}.pattern_two where pattern is not null
"""

wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT).head(20)

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol,ema7,ema20,trend,pattern
0,1954413,2025-09-27 11:15:00,1758971700405060,0.7837,0.7853,0.7837,0.7850,121594.4,1758972591323187,2025-09-27,ADAUSDT,0.7835,0.7840,downtrend,bullish engulfing
1,1954445,2025-09-27 19:15:00,1759000502967967,0.7803,0.7823,0.7800,0.7821,95233.0,1759001384883232,2025-09-27,ADAUSDT,0.7808,0.7817,downtrend,bullish engulfing