In [1]:
import awswrangler as wr
import pandas as pd

In [4]:
DATABASE = "crypto_cloud_dev_650251698703_serving_db"
S3_OUTPUT = "s3://crypto-cloud-dev-650251698703-data-lake-bucket/athena_output/"

In [ ]:
query = f"""
select * from {DATABASE}.pattern_two where pattern is not null
"""

df = wr.athena.read_sql_query(query, database=DATABASE, s3_output=S3_OUTPUT)

In [7]:
df.head()

,group_id,group_date,open_time,open_price,high_price,low_price,close_price,volume,close_time,landing_date,symbol,ema7,ema20,trend,pattern
0,1954413,2025-09-27 11:15:00,1758971700405060,0.7837,0.7853,0.7837,0.7850,121594.4,1758972591323187,2025-09-27,ADAUSDT,0.7835,0.7840,downtrend,bullish engulfing
1,1954445,2025-09-27 19:15:00,1759000502967967,0.7803,0.7823,0.7800,0.7821,95233.0,1759001384883232,2025-09-27,ADAUSDT,0.7808,0.7817,downtrend,bullish engulfing

In [ ]:
query = """
SELECT
  from_unixtime(open_time / 1000000) AS time,   -- convert microseconds to seconds and then to timestamp
  open_price,
  high_price,
  low_price,
  close_price,
  volume,
  ema7,
  ema20,
  CASE
    WHEN pattern IS NOT NULL THEN close_price
    ELSE NULL
  END AS engulfing_close
FROM pattern_two
ORDER BY time ASC
"""